doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		title Step Back Manage
		meta(name="description" content="step back manage")
		//build:css(app) styles/vendor.css
		//bower:css
		link(rel='stylesheet', href='../bower_components/bootstrap/dist/css/bootstrap.css')
		link(rel='stylesheet', href='../bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.css')
		//endbower
		//endbuild
		//build:css({.tmp,app}) styles/main.css
		link(rel="stylesheet" href="bower_components/seiyria-bootstrap-slider/css/bootstrap-slider.css")
		link(rel="stylesheet" href="styles/main.css")
		//endbuild
		meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
	body
		//build:js(app) scripts/vendor.js
		//bower:js
		script(src='../bower_components/modernizr/modernizr.js')
		script(src='../bower_components/jquery/dist/jquery.js')
		script(src='../bower_components/bootstrap/dist/js/bootstrap.js')
		script(src='../bower_components/typeahead.js/dist/typeahead.bundle.js')
		script(src='../bower_components/BaiduMapPointConverter/dist/bmpointconverter.js')
		script(src='../bower_components/kissy/build/seed-min.js')
		script(src='../bower_components/seiyria-bootstrap-slider/js/bootstrap-slider.js')
		//endbower
		//endbuild
		//build:js({.tmp,app}) scripts/scripts.js
		//endbuild

		#first:.box:.main:.cover
			nav(role="navigation")
				h1 Step
				p Back Manage
				ul.main-nav
					li(name="nav_home"): a.text-center(href="/") Home
					li(name="nav_scene"): a.text-center(href="/scene") Scene
					li.menu(name="nav_about")
						a.text-center(href="#") About
						ul.sub-nav
							li(name="nav_help"): a(href="#") Help
							li(name="nav_ab"): a(href="#") About
							li(name="nav_photo"): a(href="/photo") photo
			script
				:coffee
					nav_url = document.URL.split('/')[3]
					console.log(document.URL)
					nav_url = "home" if nav_url is ""
					nav_url = "nav_#{nav_url}"
					$(".main-nav > li[name='#{nav_url}']").addClass('active')
		block content
		#second
			include partials/demo
		

