doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		title Step Back Manage
		meta(name="description" content="step back manage")
		//build:css(app) styles/vendor.css
		//bower:css
		link(rel='stylesheet', href='../bower_components/bootstrap/dist/css/bootstrap.css')
		//endbower
		//endbuild
		//build:css({.tmp,app}) styles/main.css
		link(rel="stylesheet" href="styles/main.css")
		//endbuild
		meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
	body
		//build:js(app) scripts/vendor.js
		//bower:js
		script(src='../bower_components/jquery/dist/jquery.js')
		script(src='../bower_components/bootstrap/dist/js/bootstrap.js')
		script(src='../bower_components/typeahead.js/dist/typeahead.bundle.js')
		script(src='../bower_components/BaiduMapPointConverter/dist/bmpointconverter.js')
		script(src='../bower_components/kissy/build/seed-min.js')
		//endbower
		//endbuild
		//build:js({.tmp,app}) scripts/scripts.js
		//endbuild

		.container
			nav.navbar.navbar-inverse.navbar-static-top(role="navigation")
				.col-md-1
				div
					ul.nav.nav-pills
						li.btn-lg(name="nav_home"): a.text-center(href="/") Home
						li.btn-lg(name="nav_scene"): a.text-center(href="/scene") Scene
						li.btn-lg(name="nav_about"): a.text-center(href="#") About
			script
				:coffee
					nav_url = document.URL.split('/')[3]
					nav_url = "home" if nav_url is ""
					nav_url = "nav_#{nav_url}"
					console.log nav_url
					$(".nav.nav-pills > li[name='#{nav_url}']").addClass('active')
					console.log $(".nav.nav-pills > li[name='#{nav_url}']").html()
			block content

