<div class="row">
  <div ng-include="'partials/navbar'"></div>
</div>
<div class="row">
  <div class="col-md-2" id="allmapp"></div>
  <form >
    <div  class="row">
      
      <div class="col-md-1">
        
        <div id="the-basics">
          
          <input id="prov"class="typeahead" type="text" placeholder="Province"  onkeypress="m1(); " onFocus="m4();">
        </div>
      </div>
      <div class="col-md-1" >
        <div >
          <input  id="city" style="display:none;" class="typeahead" type="text" placeholder="city" onkeypress="m2();" onFocus="m5();">
        </div>
      </div>
      <div class="col-md-1">
        <div >
          <input id="scenes" style="display:none;" class="typeahead" type="text" placeholder="scenes" onkeypress="m3();">
        </div>
      </div>
      <div class="col-md-1">
        <div  id="jing">
          <input class="typeahead" type="text" placeholder="jing">
        </div>
      </div>
      <div class="col-md-1">
        <div  id="wei">
          <input class="typeahead" type="text" placeholder="wei">
        </div>
      </div>
    </div>
  </form>
  <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
  </nav>
  <!-- <div class="jumbotron">
    <h1>'Allo, 'Allo <span ng-show="currentUser">{{ currentUser.name }}</span>!</h1>
    <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
    </p>
    <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
  </div>
  <div class="row marketing">
    <div ng-repeat="thing in awesomeThings">
      <h4>{{thing.name}}</h4>
      <p>{{thing.info}}</p>
    </div>
  </div>
  <div class="footer">
    <p>♥ from the Yeoman team</p>
  </div>
  -->
  <script type="text/javascript">
// 百度地图API功能
var map = new BMap.Map("allmapp");
map.centerAndZoom(new BMap.Point(116.404, 39.915), 14);
var marker1 = new BMap.Marker(new BMap.Point(116.384, 39.925)); // 创建标注
map.addOverlay(marker1); // 将标注添加到地图中
var province;
statess = new Array();
// $(document).ready(function(){



// });





function ptc(pp) {

    var ptc = ['山东省', '山西省', '河南省', '河北省', '湖南省',
        '湖北省', '广东省', '广西省', '黑龙江省', '辽宁省', '浙江省',
        '安徽省', '江苏省', '福建省', '甘肃省', '江西省', '云南省', '贵州省',
        '四川省', '青海省', '陕西省', '吉林省', '宁夏省',
        '海南省', '西藏省', '内蒙古省', '新疆省', '北京', '上海', '重庆', '天津', '台湾省'];
    for (var i = 0; i < ptc.length; i++) {
        if (ptc[i] == pp) {

            return i;
        }
    }
}


function m1() {

    if (event.keyCode == 13) {
 var p = $("#prov").val();
 $("#city").val("");
 $("#scenes").val("");
if(p!=""){
        $("#city").css("display", "inline");

       

        $.ajax({
            type: "GET",
            url: "api/jia",
            data: "timestamp=" + (new Date()).getTime(),
            success: function(msg) {
                // alert( msg.data[0]);
                //alert(msg.cty);

                var num = ptc(p);
                // alert(msg.data[0]);
                //alert(num)
           
                statess = msg.data[num];
               if(num>26 && num<32){
               $("#city").val(statess);
               }
               
                //  alert(statess);
                var substringMatcher = function(strs) {
                    return function findMatches(q, cb) {
                        var matches, substringRegex;

                        // an array that will be populated with substring matches
                        matches = [];

                        // regex used to determine if a string contains the substring `q`
                        substrRegex = new RegExp(q, 'i');

                        // iterate through the pool of strings and for any string that
                        // contains the substring `q`, add it to the `matches` array
                        $.each(strs, function(i, str) {
                            if (substrRegex.test(str)) {
                                // the typeahead jQuery plugin expects suggestions to a
                                // JavaScript object, refer to typeahead docs for more info
                                matches.push({
                                    value: str
                                });
                            }
                        });

                        cb(matches);
                    };
                };
               var states2 = statess;
                //alert(states5);
                $("#city").typeahead('destroy');
                $('#city').typeahead({
                    hint: false,
                    highlight: true,
                    minLength: 1
                }, {
                    name: 'states2',
                    displayKey: 'value',
                    source: substringMatcher(states2)
                });



            }
        });

    }

}
}

function m2() {

    if (event.keyCode == 13) {

       mycity=$("#city").val();
      if(mycity!=""){
       $("#scenes").css("display", "inline");
        
        //alert(mycity);
       $.ajax({
          type: "GET",
          url:"/cities/"+mycity+"/scenes",
           data: "timestamp=" + (new Date()).getTime(),
            success: function(msg) {

             //alert(msg.response);
               //alert(msg.data[0].scenes[0]);
    var substringMatcher = function(strs) {
                    return function findMatches(q, cb) {
                        var matches, substringRegex;

                        // an array that will be populated with substring matches
                        matches = [];

                        // regex used to determine if a string contains the substring `q`
                        substrRegex = new RegExp(q, 'i');

                        // iterate through the pool of strings and for any string that
                        // contains the substring `q`, add it to the `matches` array
                        $.each(strs, function(i, str) {
                            if (substrRegex.test(str)) {
                                // the typeahead jQuery plugin expects suggestions to a
                                // JavaScript object, refer to typeahead docs for more info
                                matches.push({
                                    value: str
                                });
                            }
                        });

                        cb(matches);
                    };
                };

               var scenes=msg.data[0].scenes;                             //ajax get scenes
               var states3 = scenes;
                //alert(states3);
               $("#scenes").typeahead('destroy');
                $('#scenes ').typeahead({
                    hint: false,
                    highlight: true,
                    minLength: 1
                }, {
                    name: 'states3',
                    displayKey: 'value',
                    source: substringMatcher(states3)
                });

            }

       });
    }

}
}



function m3(){
if (event.keyCode == 13) {
 // alert(mycity);
  var myscenes=$("#scenes").val();
   if(mycity!=""){
           $.ajax({
          type: "GET",
          url:"/cities/:"+mycity+"/scenes/:"+myscenes,
          data: "timestamp=" + (new Date()).getTime(),
          success: function(msg) {

            //alert(msg.data);

              }
            });
   }
}
}
// function method1(){
// document.getElementById("pro2").style.display="block";
function m4(){
$("#city").css("display","none");
$("#scenes").css("display","none");
}
function m5(){
  $("#scenes").val("");
$("#scenes").css("display","none");
}



// }


// function method2(){

// province=this.value;

// }

// function m2(){

// alert(province);

// }

// var prov = document.getElementById("pro"); 
// prov.onclick=method1;
// prov.oninput=method2;
//  document.getElementById("city").onclick=m2;


var substringMatcher = function(strs) {
    return function findMatches(q, cb) {
        var matches, substringRegex;

        // an array that will be populated with substring matches
        matches = [];

        // regex used to determine if a string contains the substring `q`
        substrRegex = new RegExp(q, 'i');

        // iterate through the pool of strings and for any string that
        // contains the substring `q`, add it to the `matches` array
        $.each(strs, function(i, str) {
            if (substrRegex.test(str)) {
                // the typeahead jQuery plugin expects suggestions to a
                // JavaScript object, refer to typeahead docs for more info
                matches.push({
                    value: str
                });
            }
        });

        cb(matches);
    };
};

var states =['山东省', '山西省', '河南省', '河北省', '湖南省',
        '湖北省', '广东省', '广西省', '黑龙江省', '辽宁省', '浙江省',
        '安徽省', '江苏省', '福建省', '甘肃省', '江西省', '云南省', '贵州省',
        '四川省', '青海省', '陕西省', '吉林省', '宁夏省',
        '海南省', '西藏省', '内蒙古省', '新疆省', '北京', '上海', '重庆', '天津', '台湾省'];






$('#the-basics .typeahead').typeahead({
    hint: false,
    highlight: true,
    minLength: 1
}, {
    name: 'states',
    displayKey: 'value',
    source: substringMatcher(states)
});










  </script>