/* Space out content a bit */
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

/* 动画效果 */
@keyframes moveleft {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}
@keyframes moveright {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}
@-webkit-keyframes moveleft {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}
@-webkit-keyframes moveright {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}
@keyframes backleft {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
@keyframes backright {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}
@-webkit-keyframes backleft {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
@-webkit-keyframes backright {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

#first {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/images/bg.jpg") no-repeat #f4f4f4;
  background-size: cover;
  animation: 1s ease forwards;
  -webkit-animation: 1s ease forwards;
}

#second {
  position: absolute;
  left: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .5);
  display: none;
  animation: 1s ease forwards;
  -webkit-animation: 1s ease forwards;
}

.box {
  position: absolute;
  top: 12%;
  bottom: 10%;
  left: 10%;
  right: 10%;
}

.main {
  position: absolute;
  top: -51px;
  width: 100%;
  color: #fff;
  background: url("/images/bg1.jpg") no-repeat center;
  background-color: #9B59B6;
  background-size: auto 100%;
  border-radius: 6px 6px 0 0;
  z-index: 1000;
}
.cover {
  background-image: linear-gradient(-45deg, rgba(39, 174, 96, .8), rgba(22, 160, 133, .8));
  border-radius: 6px 6px 0 0;
}

#allmap {
  opacity: 0.9 ;
  border-radius:0 0 6px 6px;
  width: 100%;
  height: 100%;
}

input {
  background-color: rgba(255,255,255,.9);
}

/* 导航栏 */
.main-nav,
.sub-nav {
  margin: 0 auto;
  padding: 0;
}

.main-nav {
  text-align: center;
  padding-right: 199px;
}

@media (max-width: 991px) {
  .main-nav {
    clear:both;
    padding-right: 0;
  }
}

.main-nav li {
  position: relative;
  display: inline-block;
  list-style: none;
  text-decoration: none;
  font-size: 14px;
}

.main-nav li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: rgba(255, 255, 255, .7);
}

.main-nav li a:hover,
.main-nav .active a {
  color: #fff;
}

.active {
  margin-bottom: -1px;
  border-bottom: 1px solid #fff;
}

.main-nav .sub-nav {
  position: absolute;
  margin-top: 30px;
  opacity: 0;
  text-align: left;
  width: 100px;
  background-color: #fff;
  pointer-events: none;
  z-index: 1000;
  transition: all .3s;
}

.main-nav .menu:hover .sub-nav {
  margin-top: 0;
  opacity: 1;
  pointer-events: auto;
}

.main-nav .sub-nav li a {
  width: 100px;
  padding: 10px 15px;
  color: #333;
}

.main-nav .sub-nav li a:hover,
.main-nav .sub-nav .active a {
  color: #2ECC71;
}

.typeahead-city {
  margin: 0 20px 5px 20px;
  padding: 3px 0;
  border-bottom: 1px solid #777;
}

nav {
  border-bottom: 1px solid rgba(255, 255, 255, .35);
}

nav h1 {
  float: left;
  line-height: 50px;
  margin: 0 20px;
}

nav p {
  float: left;
  margin: 25px 0 0 0;
}

.demo-row {
  margin: 15px 0;
}

.map-head {
  position: absolute;
  top: 0;
  width: 100%;
}

.map-foot {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* 按钮 */
.btn {
  border: none;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.471;
  border-radius: 4px;
  padding: 10px 15px;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
}

.btn-primary {
  color: #ffffff;
  background-color: rgba(26, 188, 156, .9);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #48c9b0;
  border-color: #48c9b0;
}

.btn-block {
  white-space: normal;
}

/*
#row2 {
  margin-top: 20px;
  height: 53px;
 }

#nv,#footnv {
  background-color: rgba(0,0,0,.5);
  border:none;
  height: 1;
  box-shadow:  0 3px 7px rgba(0,0,0,.7);
}

.nav nav-pills {
   color:white;
}
*/

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}


.container-narrow > hr {
  margin: 30px 0;

}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.typeahead,
.tt-query,
.tt-hint {
  height: 30px;
  padding: 8px 12px;
  font-size: 20px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.tt-hint {
  color: #999;
}

.typeahead {
  border: 2px solid #bdc3c7;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.467;
  padding: 8px 12px;
  height: 42px;
  -webkit-appearance: none;
  border-radius: 6px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
}
.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}
.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-dropdown-menu {
  width: 180px;
  margin-top: 12px;
  padding: 8px 0;
  color: #050505;
  background-color: rgba(255,255,255,.8);
  border: 1px solid #fcc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}


button span {
  margin: 0 5px;
}


#ex1Slider .slider-selection {
  background: #BABABA;
}

#album {
  opacity: 0.9 ;
  border-radius:0 0 6px 6px;
  width: 100%;
  height: 90%;
  background-color: rgb(243,241,236);
  opacity: 0.8;
}

#show {
  float: left;
  width: 60%;
  height: 100%;
  
}

#list {

  float: left;
  width: 40%;
  height: 100%;
}

#bimg {
  margin: 7%;
  width: 60em;
  height: 40em;
  background-color: rgb(000,000,000);
  opacity: 0.9;
  border-radius: 8px;
}

.mimg {
  position: relative;
  float:left;
  margin-top: 11%;
  margin-left: 6%;
  width: 6em;
  height: 6em;
  border-radius: 8px;
  box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.6);
  background-color: black;
  -webkit-transition: margin 12s; 
}
.mimg :hover{
margin: -10px;
}
.miniphoto {

  border-radius: 8px;
  width: 100%;
  height: 100%;

  
}



