.model-head
	button.close(type="button" onclick="moveback();")
		span(aria-hidden="true") &times;
		span.sr-only Close
	p scene detail
.model-body.container-fluid
	.row
		h1.text-center base message
		.col-sm-4
			from.form-horizontal(role="form")
				.form-group.form-group-sm
					label.col-sm-4.control-label name:
					.col-sm-8
						input.form-control(type="text")
				.form-group.form-group-sm
					label.col-sm-4.control-label update:
					.col-sm-8
						input.form-control(type="text")
				.form-group.form-group-sm
					label.col-sm-4.control-label type:
					.col-sm-8
						input.form-control(type="text")
				.form-group.form-group-sm
					label.col-sm-4.control-label addr:
					.col-sm-8
						input.form-control(type="text")
				.form-group.form-group-sm
					label.col-sm-4.control-label ename:
					.col-sm-8
						input.form-control(type="text")
		.col-sm-4
			from.form-horizontal(role="form")
				.form-group.form-group-sm
					label.col-sm-4.control-label city:
					.col-sm-8
						input.form-control(type="text")
				.form-group.form-group-sm
					label.col-sm-4.control-label user:
					.col-sm-8
						input.form-control(type="text")
				.form-group.form-group-sm
					label.col-sm-4.control-label time:
					.col-sm-8
						input.form-control(type="text")
				.form-group.form-group-sm
					label.col-sm-4.control-label tprice:
					.col-sm-8
						input.form-control(type="text")
				.form-group.form-group-sm
					label.col-sm-4.control-label status:
					.col-sm-8
						input.form-control(type="text")
		.col-sm-4
			from.form-horizontal(role="form")
				.form-group.form-group-sm
					label.col-sm-4.control-label province:
					.col-sm-8
						input.form-control(type="text")
				.form-group.form-group-sm
					label.col-sm-4.control-label category:
					.col-sm-8
						input.form-control(type="text")
				.form-group.form-group-sm
					label.col-sm-4.control-label acreage:
					.col-sm-8
						input.form-control(type="text")
				.form-group.form-group-sm
					label.col-sm-4.control-label phone:
					.col-sm-8
						input.form-control(type="text")
				.form-group.form-group-sm
					label.col-sm-4.control-label objtid:
					.col-sm-8
						input.form-control(type="text")
	hr.half-rule
	.row
		h1.text-center location
		.col-sm-3
			form.form-horizontal(role="form")
				.form-group.form-group-sm
					label.col-sm-4.control-label longtitude:
					.col-sm-8
						input.form-control(type="text")
		.col-sm-3
			form.form-horizontal(role="form")
				.form-group.form-group-sm
					label.col-sm-4.control-label latitude:
					.col-sm-8
						input.form-control(type="text")
		.col-sm-3
			form.form-horizontal(role="form")
				.form-group.form-group-sm
					label.col-sm-4.control-label altitude:
					.col-sm-8
						input.form-control(type="text")
		.col-sm-3
			form.form-horizontal(role="form")
				.form-group.form-group-sm
					label.col-sm-4.control-label radius:
					.col-sm-8
						input.form-control(type="text")
	hr.half-rule
	.row
		.col-sm-4
			h1.text-center alias
			.col-sm-9
				input.form-control.input-sm(type="test" id="addTag")
			.col-sm-3.text-center
				button.btn.btn-success.btn-sm.add(type="button" onclick="addTag();") +
			.col-sm-12.tag
				span.btn.btn-info.btn-xs.tags(title="拖拽我" draggable="true" style="margin-right: 5px;") 国家一级景点
				span.btn.btn-info.btn-xs.tags(title="拖拽我" draggable="true" style="margin-right: 5px;") 旅游
				span.btn.btn-info.btn-xs.tags(title="拖拽我" draggable="true" style="margin-right: 5px;") 标签
				span.btn.btn-info.btn-xs.tags(title="拖拽我" draggable="true" style="margin-right: 5px;") 测试
				span.btn.btn-info.btn-xs.tags(title="拖拽我" draggable="true" style="margin-right: 5px;") 长短不一
				span.btn.btn-info.btn-xs.tags(title="拖拽我" draggable="true" style="margin-right: 5px;") 可已删除标签
			#garbage.col-sm-12
				span 拖 拽 删 除
		.col-sm-4
			h1.text-center geo
		.col-sm-4
			h1.text-center description
			.form-group.form-group-sm
				textarea.form-control(rows="5")
			form.form-horizontal(role="form")
				.form-group.form-group-sm(style="padding-left: 15px;")
					input.col-sm-4.btn.btn-primary.btn-sm(type="button" value="上传音频" style="height: 34px;")
					.col-sm-8(style="padding-left: 0;")
						input.form-control(type="text" name="textfield" id="audiofield")
					input(type="file" name="field" onchange="document.getElementById('audiofield').value=this.value" style="top: -34px;width: 100%;height: 34px;opacity: 0;")
				.form-group.form-group-sm(style="padding-left: 15px;")
					input.col-sm-4.btn.btn-primary.btn-sm(type="button" value="上传图片" style="height: 34px;")
					.col-sm-8(style="padding-left: 0;")
						input.form-control(type="text" name="textfield" id="imgfield")
					input(type="file" name="field" onchange="document.getElementById('imgfield').value=this.value" style="top: -34px;width: 100%;height: 34px;opacity: 0;")
.model-foot
	button.btn.btn-default.btn-sm(type="button" onclick="moveback();" style="margin-right: 15px;") Close
	button.btn.btn-success.btn-sm(type="button" onclick="save();") Save
script(src="../../scripts/tag.js")
