extends ../layout

block content
	h1 This is Image Upload Page
	.grid
		a.g-u.ks-uploader-button.imageUploader-button(href="javascript:void(0)" style="position: relative;")
			span.btn-text 上传图片
			.file-input-wrapper(style="overflow: hidden")
				input#J_UploaderBtn.g-u.file-input(type="file" value="上传图片" name="Filedata")
		input#J_Urls(type="hidden" name="imageUrls" value="")
	ul#J_UploaderQueue.grid.ks-uploader-queue.imageUploader-queue
	.row
		.col-md-9
			.progress.progress-striped.active
				#process.progress-bar(role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 0%")
					span.sr-only Complete
		.col-md-3
			span#num(style="color: white;font-size:23px") 
	.row
		.col-md-3
			button#haha.btn.btn-primary.btn-lg.btn-block(type="button")
				span play
		.col-md-3
			button#haha2.btn.btn-primary.btn-lg.btn-block(type="button")
				span stop
	script.

		KISSY.use(
			'gallery/uploader/1.5/index,' + 
			'gallery/uploader/1.5/themes/imageUploader/index,' + 
			'gallery/uploader/1.5/themes/imageUploader/style.css', 
			function (S, Uploader, ImageUploader) {
				//上传组件插件
				var plugins = 'gallery/uploader/1.5/plugins/auth/auth,' +
				'gallery/uploader/1.5/plugins/urlsInput/urlsInput,' +
				'gallery/uploader/1.5/plugins/proBars/proBars,' +
				'gallery/uploader/1.5/plugins/filedrop/filedrop,' +
				'gallery/uploader/1.5/plugins/preview/preview,' +
				'gallery/uploader/1.5/plugins/tagConfig/tagConfig';

				S.use(plugins,function(S,Auth,UrlsInput,ProBars,Filedrop,Preview,TagConfig){
					var uploader = new Uploader('#J_UploaderBtn',{
						//处理上传的服务器端脚本路径
						action:"/upload/img"
					});
					//使用主题
					uploader.theme(new ImageUploader({
						queueTarget:'#J_UploaderQueue'
					}))
					//验证插件
					uploader.plug(new Auth({
						//最多上传个数
						max:3,
						//图片最大允许大小
						maxSize:8000
					}))
					//url保存插件
					.plug(new UrlsInput({target:'#J_Urls'}))
					//进度条集合
					.plug(new ProBars())
					//拖拽上传
					.plug(new Filedrop())
					//图片预览
					.plug(new Preview())
					.plug(new TagConfig())
					;

					S.log('action:'+uploader.get('action'));
					S.log(uploader.get('data'));
					var auth = uploader.getPlugin('auth');
					S.log(auth.get('max'));
					S.log(auth.get('maxSize'));
			});
		})
		KISSY.use('gallery/musicPlayer/2.0/index', function (S, MusicPlayer) {
		var musicPlayer = new MusicPlayer({
		auto:false, //自动播放 默认不播放.
		mode:'order', //如果几首歌想随机播放,设置为 random, 默认为order.
		musicList:[{"name":"歌名", "path":"http://qzone.haoduoge.com/music/83f9c7FP59c4d78ac3502215a3bf760298fbc.mp3"}]
		
		});
		musicPlayer.on("progress", function(ev) {
		S.log([ev.curtime, ev.counttime, ev.progress]);
		S.all("#process").css("width",ev.progress+"%");
		S.all("#num").html(ev.curtime+"/"+ev.counttime);
		console.log(ev.curtime+","+ev.progress+","+ev.counttime);
		});
		
		S.all("#haha").on('click', function(ev) {
			musicPlayer.play();
			
			});
		S.all("#haha2").on('click', function(ev) {
			musicPlayer.pause();
			});
		

		})



//- block content
//- 	h1 This is File Upload Page
//- 	.grid
//- 		a.g-u.ks-uploader-button.defaultTheme-button(href="javascript:void(0)")
//- 			span.btn-text 上传文件
//- 			div.file-input-wrapper(style="overflow:hidden;")
//- 				input#J_UploaderBtn.g-u.file-input(type="file" value="上传文件" name="Filedata")
//- 		input#J_Urls(type="hidden" name="urls" value="")
//- 	ul#J_UploaderQueue.ks-uploader-queue.defaultTheme-queue
//- 	script.
//- 		KISSY.use('gallery/uploader/1.5/index,gallery/uploader/1.5/themes/default/index,gallery/uploader/1.5/themes/default/style.css', 
//- 			function (S, Uploader,DefaultTheme) {
//- 			//上传组件插件
//- 			var plugins = 'gallery/uploader/1.5/plugins/auth/auth,' +
//- 			'gallery/uploader/1.5/plugins/urlsInput/urlsInput,' +
//- 			'gallery/uploader/1.5/plugins/proBars/proBars';

//- 			S.use(plugins,function(S,Auth,UrlsInput,ProBars){
//- 				var uploader = new Uploader('#J_UploaderBtn',{
//- 					//处理上传的服务器端脚本路径
//- 					action:"/upload/img"
//- 				});
//- 				//使用主题
//- 				uploader.theme(new DefaultTheme({
//- 					queueTarget:'#J_UploaderQueue'
//- 				}))
//- 				//验证插件
//- 				uploader.plug(new Auth({
//- 				//最多上传个数
//- 					max:3
//- 				}))
//- 				//url保存插件
//- 				.plug(new UrlsInput({target:'#J_Urls'}))
//- 				//进度条集合
//- 				.plug(new ProBars())
//- 				;
//- 			});
//- 		})