extends ../layout

block content
	.row
		.col-md-10
			#allmap
		#sidetool.col-md-2
			.row
				input#prov_city.typeahead(type="text" placeholder="输入省或者市")
			.row
				input#scenes.typeahead(type="text" placeholder="输入景点名")
			.row
				button#sub.btn.btn-primary.btn-lg.btn-block(type="button" onclick="search();")
					span.glyphicon.glyphicon-search search
				include ./scene_model
			.row
				button#change.btn.btn-primary.btn-lg(data-toggle="modal" data-target="#myModal" onclick="get_scene();")
					span.glyphicon.glyphicon-wrench change
			.row
				P: h3(style="color:white;") Map tools
				button.btn.btn-primary.btn-lg.btn-block(type="button" onclick="mark();")
					span.glyphicon.glyphicon-map-marker drawmarker
				button.btn.btn-primary.btn-lg.btn-block(type="button" onclick="back();")
					span.glyphicon.glyphicon-arrow-left back
				button.btn.btn-primary.btn-lg.btn-block(type="button" onclick="clearmap();")
					span.glyphicon.glyphicon-fire clear
				button.btn.btn-primary.btn-lg.btn-block(type="button" onclick="commit();")
					span.glyphicon.glyphicon-ok commit
	#row2.row
		nav#footnv.navbar.navbar-inverse.navbar-static-bottom(role="navigation")
	script(src='http://api.map.baidu.com/api?ak=F875087dfb8f52212a94d72eb240ca55&v=2.0')
	script(src="scripts/scence.js")
	script.
		$(function (){
			// 百度地图API功能
			map = new BMap.Map("allmap")
			map.centerAndZoom(new BMap.Point(116.404, 39.915), 5)
			map.enableScrollWheelZoom()
			markpoints = new Array()
			// var marker1 = new BMap.Marker(new BMap.Point(116.384, 39.925)); // 创建标注
			// map.addOverlay(marker1); // 将标注添加到地图中
			city_init()
		})


